* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d1c9c9;
    font-family: sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container {
    width: 60vw;
    margin: auto;
    background-color: #f5f2f2;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.3);
    padding: 25px;
}

.container p {
    padding: 20px 0;
    text-align: center;
}

#show_password {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}
