* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a3b3d3;
    font-family: sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#container {
    margin: auto;
    background-color: #f5f2f2;
    text-align: center;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.3);
    padding: 25px;
    display: none;
    border-radius: 5px;
}

#container.visible {
    display: block;
}

#container h1 {
    color: #090b96;
}

#container p {
    padding: 20px 0;
}

#show_password {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: #3538e8;
}
